@{ Layout = null;}
@{
    ViewBag.Title = "ErrorView";
}

@*<!doctype html>
<title>Site Maintenance</title>
<style>
    body {
        text-align: center;
        padding: 150px;
    }

    h1 {
        font-size: 50px;
    }

    body {
        font: 20px Helvetica, sans-serif;
        color: #333;
    }

    article {
        display: block;
        text-align: left;
        width: 650px;
        margin: 0 auto;
    }

    a {
        color: #dc8100;
        text-decoration: none;
    }

        a:hover {
            color: #333;
            text-decoration: none;
        }
</style>*@
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <link rel="shortcut icon" href="~/Content/img/cubeiq.ico" type="image/x-icon" />
    <link rel="icon" href="~/Content/img/cubeiq.ico" type="image/ico" />

    <link rel="stylesheet" href="~/Content/plugins/fontawesome/all.css">
    <title>
        AMLOnline
    </title>

    <link href="~/Content/css/landingTemplate/canvas6118a2c.css" rel="stylesheet" />
    <link href="~/Content/css/landingTemplate/css123582e4.css" rel="stylesheet" />


</head>


<body class="stretched no-transition">
    <div id="wrapper" class="clearfix">
        <header id="header" class="header-size-sm sticky-style-2" style="max-height:100px">
            <div class="container">
                <div class="header-row flex-column flex-lg-row justify-content-center justify-content-lg-start">
                    <div class="col-8 col-xl-8 pl-lg-0">
                        <div id="logo" class="mr-0 mr-lg-auto justify-content-center justify-content-lg-start">
                            <p class="standard-logo" data-dark-logo="~/Content/img/landingTemplate/logo-dark.png">
                                @* 1st img is for Adverse Media and 2nd for AML Online*@
                                <img src="~/Content/img/ciq_3.png" alt="CIQ Logo" class="py-4"> <h3 style="height: 100px; line-height: 100px; text-align: center; margin-left:10px"><strong>AML-Online&trade;</strong></h3>
                            </p>
                        </div>
                    </div>

                    <div class="col-4 col-xl-4 d-none d-lg-block pr-0">
                        <div class="header-misc mb-4 mb-lg-0 order-lg-last d-flex justify-content-end">
                            <div id="top-cart" class="header-misc-icon d-none d-lg-block mr-0">
                                <div class="d-flex align-content-between">
                                    <p class="d-lg-flex header-user-anchor">
                                        <p style="height: 100px; line-height: 100px; margin-left: 10px" class="fas fa-user"></p>
                                        <p style="height: 100px; line-height: 100px; font-weight: 600;  margin-left: 10px">Hello!</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- #header end -->

        <section id="slider" class="slider-element home-slider">
            <div class="vertical-middle ignore-header">
                <div class="container">
                    <div class="d-flex flex-lg-row row justify-content-lg-center justify-content-between align-items-center no-gutters">
                        <div class="col-lg-6">
                            <!--<div class="slider-title mobile-center">-->
                                @*<img src="~/Content/img/caLogo.svg" alt="CIQ Logo" class="py-4">*@

                                <!--<h2 class="text-rotater mr-xl-0 mr-lg-5 mb-3 mt-5 mt-lg-0" data-separator="," data-rotate="fadeIn" data-speed="3500">
                                    Anti Money Laundering Compliance Made Easy
                                </h2>
                                <p class="mb-1">
                                    An integrated all-in-one platform, offering Anti Money Laundering and Counter Terrorism Financing services
                                </p>
                            </div>-->

                            <article class="text-center mb-4 mr-5">

                                <img src="~/Content/img/warning.png" alt="" class="img-fluid mr-xl-0 mr-lg-5 mb-2 mt-5 mt-lg-0" style="max-width: 100px; height: auto;">

                                <h1 class="text-rotater mr-xl-0 mr-lg-5 mb-2 mt-5 mt-lg-0" data-separator="," data-rotate="fadeIn" data-speed="3500">We&rsquo;ll be back soon!</h1>
                                <div>
                                    <h4 class="mb-1">Sorry for the inconvenience but we&rsquo;re performing maintenance at the moment. If you need to you can always contact us at sw.support@cubeiq.gr, otherwise we&rsquo;ll be back online shortly!</h4>
                                </div>
                            </article >

                        </div>
                        <div class="d-flex col-lg-6 justify-content-center">
                            <video class="video-illustration" autoplay muted loop>
                                <source src="~/Content/img/landingTemplate/webm/illustration30f4.webm?v=3" type="video/webm" />
                                <source src="~/Content/img/landingTemplate/webm/illustration30f4.mp4?v=3" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <noscript><div class="container clearfix center"><div class="style-msg2 errormsg"><div class="msgtitle">Please enable Javascript on your browser.</div></div></div></noscript>

        <section id="content">
            <div class="content-wrap pt-1 pb-0">
                <div class="section p-2 py-4 p-md-5" style="background-color:#fb6801;margin-bottom: 0px;margin-top: 0px;">
                    <div class="container">
                        <div class="center">
                            <h3 class="text-white mb-3 col-lg-6 offset-lg-3">Streamline your AML compliance through our application screening solution</h3>
                            <span>
                                Use our platform to perform customer due diligence and efficiently onboard your clients in real time.
                            </span>
                            <div class="mt-3">
                                <img src="~/Content/img/ciq_1.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer" class="dark">

            <div id="copyrights">
                <div class="container clearfix">
                    <div class="d-flex justify-content-between flex-column flex-lg-row">

                        <text>Copyright &copy; 2023 CubeIQ Ltd. AML-Online&trade;. All rights reserved.</text>

                        <br>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <script type="text/javascript">

    </script>

</body>
</html>



